::selection {
  background: black;
}
::-moz-selection {
  background: black;
}

.cell{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 0;
  font-size: 70px;
  background-color: #f05f40;
  color: white;
  -moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.cell:hover{
  background-color: white;
  color: #f05f40;
}

.rows{
  margin: 0;
  padding: 0;

}

.btn{
  width: 300px;
  height: 60px;
  border-radius: 0%;
  margin: 20px;
  color: white;
  background-color: #f05f40;
  border: 2px solid white;
  -moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover{
  cursor: pointer;
  color: #f05f40;
  background-color: white;
}


.header{
  font-family: 'Montserrat', sans-serif;
  font-size: 110px;
  color: white;
}

.heading{
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  color: #f05f40;
}

.name{
  font-family: 'Raleway', sans-serif;
  color: #f05f40;
}

.points{
  border: 2px solid #f05f40;
  height: 50px;
  width: 50px;
  font-size: 40px;
  margin-left: 250px;
  background-color: #f05f40;
  color: white;
  -moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.points:hover{
  background-color: white;
  color: #f05f40;
}
